.form-control {
    border-radius: 0;

    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
}

.custom-select {
    border-radius: 0;

    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
}

.custom-checkbox {
    .custom-control-label::before {
        border-radius: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

.dropdown-menu {
    border-radius: 0;
}